BasedOnStyle:    Google
TabWidth:        4
IndentWidth:     4
UseTab:          Never
ColumnLimit:     120

# Languange:       Cpp
Standard:        Cpp11
PointerAlignment: Left
AlignConsecutiveDeclarations: true
# public private
AccessModifierOffset: -3
# 函数不要写成一行
AllowShortFunctionsOnASingleLine: Empty
# 定义之间空行隔开
SeparateDefinitionBlocks: Always

ReflowComments: false
