BasedOnStyle:    Google
TabWidth:        4
IndentWidth:     4
UseTab:          Never
ColumnLimit:     100
Standard:        Cpp11
AlignConsecutiveDeclarations: true
# public private
AccessModifierOffset: -3
